<div class="card-container">
  <form [formGroup]="clientForm">
    <mat-card>
      <mat-card-title>{{ clientName || "New Client" }}</mat-card-title>
      <mat-card-content fxLayout="column">
          <mat-form-field fxLayout="column" fxLayoutGap="1em">
            <input matInput placeholder="Client Name" formControlName="clientName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Client ID" formControlName="clientId" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Client Secret" formControlName="clientSecret"
            [type]="hideClientSecret ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">{{hideClientSecret ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Profile URL" formControlName="profileURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Token URL" formControlName="tokenURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Authorization Server URL" formControlName="authServerURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Authorization URL" formControlName="authorizationURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Revocation URL" formControlName="revocationURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Introspection URL" formControlName="introspectionURL">
          </mat-form-field>
          <div formArrayName="scopeForms" *ngFor="let scope of clientForm.get('scopeForms')['controls']; let i = index;" style="width:100%">
            <div [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="scope" placeholder="Scope {{i+1}}">
                <button mat-icon-button color="accent" matSuffix (click)="removeScope(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <button mat-icon-button color="accent" (click)="addScope()">
              Add Scope <mat-icon>add</mat-icon>
          </button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="createClient()" mat-flat-button color="primary" [disabled]="!clientForm.valid" *ngIf="!clientId">Create</button>
        <button (click)="updateClient()" mat-flat-button color="primary" [disabled]="!clientForm.valid" *ngIf="clientId">Update</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>