<div class="card-container">
  <form (ngSubmit)="updateSettings()" [formGroup]="settingsForm">
    <mat-card>
      <mat-card-title>Frappe Connector Settings</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="appURL" placeholder="Server Url" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="clientId" placeholder="Client ID" readonly>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput type="password" placeholder="Client Secret"
            formControlName="clientSecret" [type]="hideClientSecret ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input
              matInput
              type="number"
              formControlName="expireRequestLogInMinutes"
              placeholder="Request Log Expiry Minutes">
            <mat-hint>Minimum 30 Minutes</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="callbackProtocol" placeholder="Callback Protocol">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary" [disabled]="!settingsForm.valid">Update</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div class="card-container">
  <mat-card>
    <mat-card-title>Service Settings</mat-card-title>
    <mat-card-subtitle>Additional Settings</mat-card-subtitle>
    <mat-card-content fxLayout="column">
      <p>
        Register the service on infrastructure console. It makes it easy for connected apps to get the service url from infrastructure console
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="registerService()">Register Service</button>
    </mat-card-actions>
  </mat-card>
</div>
