<div class="card-container">
  <form [formGroup]="requestLogForm">
    <mat-card>
      <mat-card-title>{{ uuid }}</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Creation Date" formControlName="creation" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Provider UUID" formControlName="providerUuid" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="User UUID" formControlName="userUuid" readonly>
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Success Response"
            formControlName="successResponse"
            readonly></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Failure Response"
            formControlName="failResponse"
            readonly></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</div>
